# Lista de Exercícios

## Exercício 1
Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [3]:
lista1 = list(range(1,11))
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Exercício 2
Crie uma lista de 5 objetos e imprima na tela

In [4]:
lista2 = ['Flamengo', 'Vasco', 'Fluminense', 'Botafogo', 'Volta Redonda']
lista2

['Flamengo', 'Vasco', 'Fluminense', 'Botafogo', 'Volta Redonda']

## Exercício 3
Crie duas strings e concatene as duas em uma terceira string

In [5]:
s1 = "Thiago "
s2 = "Melo"
s3 = s1 + s2

print(s3)

Thiago Melo

## Exercício 4
Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do  objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [7]:
tupla = (1, 2, 2, 3, 4, 4, 4, 5)
print(tupla.count(4))

3

## Exercício 5
Crie um dicionário vazio e imprima na tela

In [8]:
dict = {}
print(dict)

{}

## Exercício 6
Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [9]:
dict2 = {"Thiago": 27, "Duda": 24, "Mario": 44}
print(dict2)

{'Thiago': 27, 'Duda': 24, 'Mario': 44}

## Exercício 7
Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [10]:
dict2["Luciane"] = 45
print(dict2)

{'Thiago': 27, 'Duda': 24, 'Mario': 44, 'Luciane': 45}

## Exercício 8
Crie um dicionário com 3 chaves e 3 valores.
Um dos valores deve ser uma lista de 2 elementos numéricos. 
Imprima o dicionário na tela.

In [11]:
dict3 = {"FAM": 25, "LHC": 10, "A3P": [6.5, 12]}
print(dict3)

{'FAM': 25, 'LHC': 10, 'A3P': [6.5, 12]}

## Exercício 9
Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, o segundo uma tupla de 2 elementos, o terceiro um dicionário com 2 chaves e 2 valores e o quarto elemento um valor do tipo float.
Imprima a lista.

In [12]:
lista = ["Thiago", ("FAM", "LHC"), {"Maria": "Administradora", "Thiago": "Engenheiro"}, 9.5 ]
print(lista)

['Thiago', ('FAM', 'LHC'), {'Maria': 'Administradora', 'Thiago': 'Engenheiro'}, 9.5]

## Exercício 10
Considere a string abaixo. Imprima na tela apenas os caracteres da posição 0 a 18.     
`frase = 'Cientista de Dados é o profissional mais sexy do século XXI'`

In [15]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
print(frase[:18])

Cientista de Dados