# Variáveis e operadores

## Trabalhando com Variáveis

In [7]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 1

In [8]:
# Imprimindo o valor da variável
print(var_teste)

1

In [9]:
# Não podemos utilizar uma variável que não foi definida. Leia a mensagem de erro
my_var

NameError: name 'my_var' is not defined

In [10]:
var_teste = 2

In [11]:
var_teste

2

In [12]:
type(var_teste)

int

In [13]:
var_teste = 9.5 # Tipagem dinâmica

In [14]:
type(var_teste)

float

In [15]:
x = 1

In [16]:
x

1

## Declaração Múltipla

In [17]:
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"

In [18]:
pessoa1

'Bob'

In [19]:
pessoa2

'Maria'

In [20]:
pessoa3

'Ana'

In [21]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [22]:
fruta1

'Melancia'

In [23]:
fruta2

'Melancia'

In [24]:
fruta3

'Melancia'

In [25]:
# Atenção! Python é case-sensitive.
# LEtras maiúsculas e minúsculas tem diferença no nome da variável.
Fruta2

NameError: name 'Fruta2' is not defined

In [26]:
x1 = 50

In [27]:
x1

50

In [28]:
# É permitido ter números em variáveis, mas uma variável não pode começar com números

In [29]:
1x

SyntaxError: invalid decimal literal (1973045331.py, line 1)

### Palavras reservadas não podem ser utilizadas como nome de variável
* False
* Class
* finally
* is
* return
* break

In [30]:
break = 1

SyntaxError: invalid syntax (1545200237.py, line 1)

## Variáveis Atribuídas a Outras Variáveis e Ordem dos Operadores

In [31]:
largura = 2

In [32]:
altura = 4

In [34]:
area = largura * altura

In [35]:
area

8

In [36]:
perimetro = 2 * (largura + 2) * altura

In [37]:
perimetro

32

## Operações com Variáveis

In [38]:
idade1 = 25

In [39]:
idade2 = 35

In [40]:
idade1 + idade2

60

In [41]:
idade2 - idade1

10

In [42]:
idade2 * idade1

875

In [43]:
idade2 / idade1

1.4

In [44]:
idade2 % idade1

10

## Concatenação de Variáveis

In [45]:
nome = "Bob"

In [46]:
sobrenome = "Marley"

In [47]:
fullName = nome + " " + sobrenome

In [48]:
fullName

'Bob Marley'